[package]
name = "actix"
version = "0.10.0-alpha.2"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "Actor framework for Rust"
readme = "README.md"
keywords = ["actor", "futures", "actix", "async", "tokio"]
homepage = "https://actix.rs"
repository = "https://github.com/actix/actix.git"
documentation = "https://docs.rs/actix/"
categories = ["network-programming", "asynchronous"]
license = "MIT/Apache-2.0"
exclude = [".gitignore", ".cargo/config", ".github/**"]
edition = "2018"

[badges]
codecov = { repository = "actix/actix", branch = "master", service = "github" }

[lib]
name = "actix"
path = "src/lib.rs"

[workspace]
members = ["examples/chat"]

[features]
default = ["resolver"]

# dns resolver
resolver = ["trust-dns-proto", "trust-dns-resolver"]

# Adds assertion to prevent processing too many messages on event loop
mailbox_assert = []

[dependencies]
actix-rt = "1.0.0"
actix_derive = "0.5"
bytes = "0.5.3"
crossbeam-channel = "0.4"
derive_more = "0.99.2"
futures-channel = { version = "0.3.1", default-features = false }
futures-util = { version = "0.3.1", default-features = false }
log = "0.4"
pin-project = "0.4.6"
once_cell = "1.3"
bitflags = "1.2"
smallvec = "1.0"
parking_lot = "0.10"
tokio = { version = "0.2.6", default-features = false, features=["rt-core", "rt-util", "io-driver", "io-util", "tcp", "uds", "udp", "time", "signal", "sync"] }
tokio-util = { version = "0.3", features = ["full"] }

# dns resolver
trust-dns-proto = { version = "0.19", optional = true, default-features = false, features = ["tokio-runtime"] }
trust-dns-resolver = { version = "0.19", optional = true, default-features = false, features = ["tokio-runtime", "system-config"] }

[dev-dependencies]
doc-comment = "0.3"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
