[package]
name = "actix"
version = "0.3.6"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "Actor framework for Rust"
readme = "README.md"
keywords = ["actor", "futures", "actix", "async", "tokio"]
homepage = "https://github.com/actix/actix/"
repository = "https://github.com/actix/actix.git"
documentation = "https://docs.rs/actix/"
categories = ["network-programming", "asynchronous"]
license = "MIT/Apache-2.0"
exclude = [".gitignore", ".travis.yml", ".cargo/config", "appveyor.yml"]
build = "build.rs"

[badges]
travis-ci = { repository = "actix/actix", branch = "master" }
appveyor = { repository = "fafhrd91/actix-n9e64" }
codecov = { repository = "actix/actix", branch = "master", service = "github" }

[lib]
name = "actix"
path = "src/lib.rs"

[features]
default = []

# Include dns resolver actor
dns = []

[workspace]
members = ["examples/chat"]

[dependencies]
actix_derive = "0.1"

# io
bytes = "0.4"
futures = "0.1"
tokio-io = "0.1"
tokio-core = "0.1"
tokio-signal = "0.1"

# other
log = "0.3"
crossbeam = "0.3"
bitflags = "1.0"
libc = { version = "0.2" }
uuid = { version = "0.5", features = ["v4"] }

[dev-dependencies]
skeptic = "0.13"

[build-dependencies]
skeptic = "0.13"

[profile.release]
lto = true
opt-level = 3
