[package]
name = "actix"
version = "0.3.0"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "Actor framework for Rust"
readme = "README.md"
keywords = ["actor", "asynchronous", "concurrency"]
homepage = "https://github.com/actix/actix/"
repository = "https://github.com/actix/actix.git"
categories = ["network-programming", "asynchronous"]
license = "Apache-2.0"
exclude = [".gitignore", ".travis.yml", ".cargo/config", "appveyor.yml"]
build = "build.rs"

[badges]
travis-ci = { repository = "actix/actix", branch = "master" }
appveyor = { repository = "fafhrd91/actix-n9e64" }
codecov = { repository = "actix/actix", branch = "master", service = "github" }

[lib]
name = "actix"
path = "src/lib.rs"

[features]
default = ["signal"]

# Include process signal support, on by default
signal = ["tokio-signal", "libc"]

# Include dns resolver actor
dns = ["libc"]

[workspace]
members = ["examples/chat"]

[dependencies]
# tokio
futures = "0.1"
tokio-io = "0.1"
tokio-core = "0.1"

# other
log = "0.3"
crossbeam = "0.3"
libc = { version = "0.2", optional = true }
uuid = { version = "0.5", features = ["v4"] }

[dependencies.tokio-signal]
version = "0.1"
optional = true

[dev-dependencies]
skeptic = "0.13"

[build-dependencies]
skeptic = "0.13"

[profile.release]
lto = true
opt-level = 3
