[package]
name = "actix"
version = "0.10.0"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "Actor framework for Rust"
readme = "README.md"
keywords = ["actor", "futures", "actix", "async", "tokio"]
homepage = "https://actix.rs"
repository = "https://github.com/actix/actix.git"
documentation = "https://docs.rs/actix/"
categories = ["network-programming", "asynchronous"]
license = "MIT OR Apache-2.0"
exclude = [".gitignore", ".cargo/config", ".github/**", "codecov.yml"]
edition = "2018"

[workspace]
members = [".", "actix-derive", "examples/chat"]

[lib]
name = "actix"
path = "src/lib.rs"

[features]
default = ["resolver", "derive"]

# DNS resolver
resolver = ["trust-dns-proto", "trust-dns-resolver"]

# Re-exports derive macros from actix-derive
derive = ["actix_derive"]

# Adds assertion to prevent processing too many messages on event loop
mailbox_assert = []

[dependencies]
actix-rt = "2.0.0-beta.1"
actix_derive = { version = "0.5", optional = true }
actix-macros = { version = "0.1.3", features = ["actix-reexport"] }

bytes = "1"
crossbeam-channel = "0.5"
derive_more = "0.99.2"
futures-channel = { version = "0.3.7", default-features = false }
futures-util = { version = "0.3.7", default-features = false, features = ["sink"] }
log = "0.4"
pin-project = "1.0.0"
once_cell = "1.4"
bitflags = "1.2"
smallvec = "1.4"
parking_lot = "0.11"
tokio = { version = "1", features = ["io-util"] }
tokio-util = { version = "0.6", features = ["full"] }

# dns resolver
trust-dns-proto = { version = "0.20.0" , optional = true, default-features = false, features = ["tokio-runtime"] }
trust-dns-resolver = { version = "0.20.0" , optional = true, default-features = false, features = ["tokio-runtime", "system-config"] }

[dev-dependencies]
doc-comment = "0.3"
futures-channel = { version = "0.3.7", default-features = false, features = ["sink"] }

[profile.release]
lto = true
opt-level = 3
codegen-units = 1

[patch.crates-io]
actix = { path = "." }
actix_derive = { path = "actix-derive" }
