[package]
name = "actix-broker"
version = "0.4.0"
edition = "2018"
authors = [
    "Chris Ricketts <chris.ricketts@steribar.com>",
]
description = "Message broker for the Actix actor framework"
readme = "README.md"
keywords = ["actix", "message", "broker"]
repository = "https://github.com/actix/actix-broker"
documentation = "https://docs.rs/actix-broker"
license = "MIT OR Apache-2.0"

[dependencies]
actix = "0.12.0"
ahash = { version = "0.7", default-features = false }
log = "0.4"

[dev-dependencies]
actix-web = { version = "3", default-features = false }
